@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{--black:#000;--white:#fff;--gray:#808080;--light-gray:#d3d3d3;--dark-gray:#a9a9a9;--red:#f00;--light-red:#f66;--dark-red:#8b0000;--green:#008000;--light-green:#90ee90;--dark-green:#006400;--blue:#00f;--light-blue:#add8e6;--dark-blue:#00008b;--yellow:#ff0;--light-yellow:#ffffe0;--dark-yellow:#ffd700;--orange:#ffa500;--light-orange:#ffcc99;--dark-orange:#ff4500;--purple:#800080;--light-purple:#dda0dd;--dark-purple:#4b0082;--pink:#ffc0cb;--light-pink:#ffb6c1;--dark-pink:#ff1493;--brown:#a52a2a;--light-brown:#bc8f8f;--dark-brown:#5d4037;--cyan:#0ff;--light-cyan:#e0ffff;--dark-cyan:#008b8b;--magenta:#f0f;--light-magenta:#f6f;--dark-magenta:#8b008b;--teal:#008080;--light-teal:#20b2aa;--dark-teal:#005757;--navy:#000080;--light-navy:#5f9ea0;--dark-navy:#00004b;--dark-color:#219150;--light-color:#666;--border:.1rem solid rgba(0,0,0,.1);--border-hover:.1rem solid var(--black);--box-shadow:0 .5rem 1rem rgba(0,0,0,.1);}


*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width:1rem;
}
html::-webkit-scrollbar-track{
    background:transparent;
}
html::-webkit-scrollbar-thumb{
    background:var(--black);
}
section{
    padding:5rem 9%;
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}
.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}
.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}
.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--light-green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}
.btn:hover{
    background:var(--dark-color);
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*page background image*/
.background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://github.com/PunksB1602/book-images/blob/main/pagelogo.png?raw=true") no-repeat center center/cover;
    opacity: 0.5; 
    z-index: -1;
}

/*header section starts*/
.header .header-1{
    background:#fff;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .header-1 .logo{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--green);
    text-decoration: none;
}
.header .header-1 .logo img {
            width: 50px; 
            height: auto;
            margin-right: 10px;
        }
.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
}
.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--black);
}
.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}
.header .header-1 .search-form label:hover{
    color:var(--light-green);
}
.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}
.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--light-green);
}
#search-btn{
    display: none;
}

.header .header-2{
    background:var(--light-green);
}

.header .header-2 .navbar{
    text-align: center;
}
.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}
.header .header-2 .navbar a:hover{
    background:var(--dark-color);
}
.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;

}
/* media queries search */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }

}
@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display:none;
    }


    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }


}
@media (max-width:450px){

    html{
        font-size: 50%;
    }
}
/*media queries ends*/
/*header section ends*/

/*book adder section*/
.add-books {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.add-books .container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: var(--light-gray);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    border: 8px solid #3498db; 
}

.add-books h2 {
    text-align: center;
    margin-bottom: 20px;
    position: relative; 
    padding: 10px 20px; 
	color: brown;
	font-size: 2.5rem;
    border-radius: 20px;
}

.add-books form {
    max-width: 600px;
    margin: auto;
}
.add-books label {
    display: block;
    margin-bottom: 8px;
    color: red;
}
.add-books input[type="text"],
.add-books input[type="number"],
.add-books textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.add-books textarea {
    height: 100px;
}
.add-books input[type="file"] {
    margin-top: 10px;
}
.add-books input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.add-books input[type="submit"]:hover {
    background-color: #45a049;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .add-books .container {
        padding: 10px;
    }
    
    .add-books input[type="text"],
    .add-books input[type="number"],
    .add-books textarea {
        width: 100%;
    }
}
/*book adder section ends*/



/*footer section starts*/
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}
.footer .box-container .box h3{
    font-size: 2.2rem;
    color:var(--black);
    padding:1rem 0;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
}
.footer .box-container .box a i{
    color:var(--red);
    padding-right: .5rem;
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}
.footer .box-container .box .map{
    width:50%;
}

	
.footer .share {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.footer .share a img {
    width: 60px; 
    height: auto;
}


.footer .credit {
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
}

.footer .credit span {
    color: var(--magenta);
}
/*footer section ends*/
