@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
	--black: #000000;
    --white: #ffffff;
    --gray: #808080;
    --light-gray: #d3d3d3;
    --dark-gray: #a9a9a9;
    --red: #ff0000;
    --light-red: #ff6666;
    --dark-red: #8b0000;
    --green: #008000;
    --light-green: #90ee90;
    --dark-green: #006400;
    --blue: #0000ff;
    --light-blue: #add8e6;
    --dark-blue: #00008b;
    --yellow: #ffff00;
    --light-yellow: #ffffe0;
    --dark-yellow: #ffd700;
    --orange: #ffa500;
    --light-orange: #ffcc99;
    --dark-orange: #ff4500;
    --purple: #800080;
    --light-purple: #dda0dd;
    --dark-purple: #4b0082;
    --pink: #ffc0cb;
    --light-pink: #ffb6c1;
    --dark-pink: #ff1493;
    --brown: #a52a2a;
    --light-brown: #bc8f8f;
    --dark-brown: #5d4037;
    --cyan: #00ffff;
    --light-cyan: #e0ffff;
    --dark-cyan: #008b8b;
    --magenta: #ff00ff;
    --light-magenta: #ff66ff;
    --dark-magenta: #8b008b;
    --teal: #008080;
    --light-teal: #20b2aa;
    --dark-teal: #005757;
    --navy: #000080;
    --light-navy: #5f9ea0;
    --dark-navy: #00004b;
    --dark-color:#219150;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

section{
    padding:5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--light-green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--dark-color);
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


/*page background image*/
.background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("https://github.com/PunksB1602/book-images/blob/main/pagelogo.png?raw=true") no-repeat center center/cover;
    opacity: 0.5; 
    z-index: -1;
}



/*header section starts*/
.header .header-1{
    background:#fff;
    padding:1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-1 .logo{
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--green);
    text-decoration: none;
}
.header .header-1 .logo img {
            width: 50px; 
            height: auto;
            margin-right: 10px;
        }

.header .header-1 .search-form{
    width:50rem;
    height:5rem;
    border:var(--border);
    overflow: hidden;
    background:#fff;
    display:flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input{
    font-size: 1.6rem;
    padding:0 1.2rem;
    height:100%;
    width:100%;
    text-transform: none;
    color:var(--black);
}

.header .header-1 .search-form label{
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover{
    color:var(--light-green);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color:var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover{
    color:var(--light-green);
}

#search-btn{
    display: none;
}

.header .header-2{
    background:var(--light-green);
}

.header .header-2 .navbar{
    text-align: center;
}

.header .header-2 .navbar a{
    color:#fff;
    display: inline-block;
    padding:1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
    background:var(--dark-color);
}

.header .header-2.active{
    position:fixed;
    top:0; left:0; right:0;
    z-index: 1000;

}

/* media queries search */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }

}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display:none;
    }


    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }


}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}
/*media queries ends*/
/*header section ends*/




/*main section starts*/
.home{
    background: url(https://github.com/PunksB1602/book-images/blob/main/banner-bg.jpg?raw=true) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.home .row .content{
    flex:1 1 42rem;
}

.home .row .books-slider{
    flex:1 1 42rem;
    text-align: center;
    margin-top: 2rem;
}

.home .row .books-slider a img{
    height: 25rem;
}

.home .row .books-slider a:hover img{
    transform: scale(.9);
}

.home .row .books-slider .stand{
    width:100%;
    margin-top: -2rem;
}

.home .row .content h3{
    color:var(--black);
    font-size: 4.5rem;
}

.home .row .content p{
    color:var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
    padding:1rem 0;
}
/*main section ends*/



/*info icons*/
.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.icons-container .icons{
    display: flex;
    align-items: center;
    gap:1.5rem;
    padding:2rem 0;
}

.icons-container .icons i{
    font-size: 3.5rem;
    color:var(--brown);
}

.icons-container .icons h3{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.icons-container .icons p{
    font-size: 1.4rem;
    color:var(--light-color);
}



/*featured section starts*/
.featured .featured-slider .box{
    margin:2rem 0;
    position: relative;
    overflow: hidden;
    border:var(--border);
    text-align: center;
}

.featured .featured-slider .box:hover{
    border:var(--border-hover);
}

.featured .featured-slider .box .image{
    padding:1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .box:hover .image{
    transform: translateY(6rem);
}

.featured .featured-slider .box .image img{
    height: 25rem;
}

.featured .featured-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top:0; left:0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
}

.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
    color:var(--black);
    font-size: 2.2rem;
    padding:1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    background:var(--light-green);
    color:#fff;
}

.featured .featured-slider .box .content{
    background:#eee;
    padding:1.5rem;
}

.featured .featured-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
}

.featured .featured-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}
.swiper-button-next,
.swiper-button-prev{
    border:var(--border-hover);
    height:4rem;
    width:4rem;
    color:var(--black);
    background: #fff;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover{
    background: var(--black);
    color:#fff;
}
/*featured section ends*/



/*our books section starts*/
.our-books {
    padding: 5rem 9%;
    background: #f9f9f9;
}

.our-books .heading {
    text-align: center;
    margin-bottom: 4rem;
    position: relative;
}

.our-books .heading::before {
    content: '';
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .1rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.our-books .heading span {
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--black);
    background: #fff;
    border: var(--border);
}

.our-books .books-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.our-books .book {
    background: #fff;
    border: var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    text-align: center;
    width: 30rem;
    padding: 2rem;
}

.our-books .book:hover {
    border: var(--border-hover);
}

.our-books .book img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    transition: all .2s linear;
}

.our-books .book:hover img {
    transform: scale(1.05);
}

.our-books .book h3 {
    font-size: 2rem;
    color: var(--black);
    margin: 1.5rem 0;
}

.our-books .book p {
    font-size: 1.4rem;
    color: var(--light-color);
    padding: 0 1rem;
}

.our-books .book .price {
    font-size: 2.2rem;
    color: var(--black);
    margin: 1rem 0;
}

.our-books .book .price span {
    font-size: 1.5rem;
    color: var(--light-color);
    text-decoration: line-through;
}

.our-books .book .btn {
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: #fff;
    background: var(--light-green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.our-books .book .btn:hover {
    background: var(--dark-color);
}

/* media queries our books //see more part */
@media (max-width: 991px) {
    .our-books .books-container {
        flex-direction: column;
        align-items: center;
    }

    .our-books .book {
        width: 100%;
        margin-bottom: 2rem;
    }
}

@media (max-width: 768px) {
    .our-books .heading span {
        font-size: 2.5rem;
    }

    .our-books .book img {
        height: 20rem;
    }
}

@media (max-width: 450px) {
    .our-books {
        padding: 3rem 2rem;
    }

    .our-books .heading span {
        font-size: 2rem;
    }

    .our-books .book h3 {
        font-size: 1.8rem;
    }

    .our-books .book p {
        font-size: 1.2rem;
    }

    .our-books .book .price {
        font-size: 2rem;
    }
}

/*our books section ends*/



/* category section starts*/
.category .category-slider .box{
    display: flex;
    align-items:center;
    gap:1.5rem;
    padding:2rem 1rem;
    border:var(--border);
    margin:1rem 0;
}

.category .category-slider .box:hover{
    border:var(--border-hover);
}

.category .category-slider .box .image img{
    height:15rem;
}

.category .category-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
}

.category .category-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.category .category-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}

.category .category-slider .box .content .stars i{
    font-size: 1.5rem;
    color:var(--light-green);
}
/*category section ends*/



/*footer section starts*/
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}
.footer .box-container .box h3{
    font-size: 2.2rem;
    color:var(--black);
    padding:1rem 0;
}
.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
}
.footer .box-container .box a i{
    color:var(--red);
    padding-right: .5rem;
}
.footer .box-container .box a:hover i{
    padding-right: 2rem;
}
.footer .box-container .box .map{
    width:50%;
}

	
.footer .share {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.footer .share a img {
    width: 60px; 
    height: auto;
}


.footer .credit {
    border-top: var(--border);
    margin-top: 2rem;
    padding: 0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
}

.footer .credit span {
    color: var(--magenta);
}
/*footer section ends*/



/*page loader section starts*/
.loader-container{
    position: fixed;
    top:0; left: 0;
    height:100%;
    width: 100%;
    z-index: 10000;
    background:#f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active{
    display: none;
}

.loader-container img{
    height:10rem;
}
